<h2> Details </h2>
<p>First Name: <%= @profile.first_name %></p>
<p>Last Name: <%= @profile.last_name %></p>
<p>my ID: <%= @profile.id %></p>
<% tenant_id = @profile.id %>
<p><%= link_to 'Edit my profile', edit_profile_path(@profile), class: 'btn btn-rounded'%></p>

<h2>Past Bookings</h2>
<% @bookings = Booking.where(profile_id: @profile.id) %>
<% @bookings.each do |booking| %>
  <p>parking id:<%= booking.parking_id %></p>
  <p>date:<%= booking.created_at %></p>
  <% owner_id = Parking.where(id: booking.parking_id)[0].profile_id %>
  <p>owner id: <%= owner_id %></p>
<% end %>



<% @MyParkings = Parking.where(profile_id: tenant_id) %>
  <% if @MyParkings.empty? == false %>
  <h2>My parkings </h2>
    <% @MyParkings.each do |parking| %>
      <p>parking id:<%= parking.id %></p>
      <p>parking status:<%= parking.status %></p>
      <%= link_to "state", state_parking_path(parking.id) %>
    <% end %>

  <% end  %>




