
<% @bookings = Booking.where(profile_id: @profile.id) %>
<% @bookings.each do |booking| %>
<% booking.parking_id %>
<% booking.created_at %>
<% owner_id = Parking.where(id: booking.parking_id)[0].profile_id %>
<% end %>


    <!--============================= BOOKING DETAILS =============================-->
    <% @bookings = Booking.where(profile_id: @profile.id) %>
    <% @my_bookings = Booking.where(profile_id: @profile.id) %>
    <% if @my_bookings != [] && @my_bookings.last.created_at.strftime("%m/%d/%Y") == Time.now.strftime("%m/%d/%Y")  %>
    <% @current_booking = true  %>
    <% end  %>
    <section class="gray-dark booking-details_wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8 responsive-wrap">
                    <div class="booking-checkbox_wrap my-4">
                        <h4>Current Booking</h4>
                        <hr>
                        <% if @current_booking == true %>
                          <div class="customer-review_wrap">
                              <div class="customer-content-wrap" style="margin-left: 0px">
                                  <div class="customer-content">
                                      <div class="customer-review">
                                          <h6>Parking #<%= Parking.where(id: @my_bookings.last.parking_id)[0].number %></h6>
                                          <p style="margin-left: 0px; font-size: 14px;">Booked on <%= @my_bookings.last.created_at.strftime("%m/%d/%Y") %></p><br>
                                          <p style="margin-left: 0px; font-size: 14px">will be avaialble tomorrow <%= Date.tomorrow.strftime('%m/%d/%Y') %></p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        <% else  %>
                          <div class="customer-review_wrap">
                                <div class="customer-content-wrap" style="margin-left: 0px">
                                    <div class="customer-content">
                                        <div class="customer-review">
                                            <h6>No parking booked for tomorrow</h6>
                                        </div>
                                        <%= link_to "Book Now", parkings_path, style:"    background: #46cd38; padding: 4px 16px; float: right; color: #fff; border-radius: 3px; border: none; font-size: 16px" %>
                                    </div>
                                </div>
                            </div>
                        <% end  %>
                        <hr>
                    </div>


                    <div class="booking-checkbox_wrap my-4">
                        <h4>Past Bookings</h4>
                        <hr>
                        <% if @bookings != [] %>
                          <% @bookings.each do |booking| %>
                            <% if booking.created_at.strftime("%m/%d/%Y") != Time.now.strftime("%m/%d/%Y") %>
                                  <div class="customer-review_wrap">
                                      <div class="customer-content-wrap" style="margin-left: 0px">
                                          <div class="customer-content">
                                              <div class="customer-review">
                                                  <h6>Parking #<%= Parking.where(id: booking.parking_id)[0].number %></h6>
                                                  <% a = booking.created_at + 1440.minutes %>
                                                  <p style="margin-left: 0px; font-size: 14px">Booked on <%= booking.created_at.strftime("%m/%d/%Y")  %></p><br>
                                                  <p style="margin-left: 0px; font-size: 14px">Was avaialble on <%= a.strftime("%m/%d/%Y") %></p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <hr>
                            <% end  %>
                          <% end %>
                        <% else %>
                          <div class="customer-review_wrap">
                                      <div class="customer-content-wrap" style="margin-left: 0px">
                                          <div class="customer-content">
                                              <div class="customer-review">
                                                  <h6>No parking booked yet 😥</h6>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <hr>
                        <% end %>
                    </div>

<% owner_id = @profile.id %>
<% @MyParkings = Parking.where(profile_id: owner_id) %>


                  <% if @MyParkings.empty? == false %>
                    <div class="booking-checkbox_wrap my-4">
                        <h4>My Parking</h4>
                        <hr>
                          <% @MyParkings.each do |parking| %>
                            <div class="customer-review_wrap">
                                <div class="customer-content-wrap" style="margin-left: 0px">
                                    <div class="customer-content">
                                            <div class="customer-review">
                                                <h6>Parking #<%= Parking.where(id: parking.id)[0].number %></h6>
                                                <p style="margin-left: 0px; font-size: 14px">Parking status: <%= parking.status %></p>
                                            </div>
                                            <!-- can't change status if parking currently booked -->
                                            <% @MylastBooking = Booking.all.where(parking_id: parking.id).last  %>
                                            <% if @MylastBooking.nil? == false  %>
                                                <% booking = @MylastBooking  %>
                                                <% @BookingDate = booking.created_at.strftime("%m/%d/%Y")  %>

                                                <% if @BookingDate == Time.now.strftime("%m/%d/%Y")  %>
                                                  <p style="float: right; font-size: 16px;  padding-top: 12.5px; padding-bottom: 12.5px; color: #ff6b6b !important; border: none">Currently rent, status can't be amended ✋</p>
                                                <% else %>
                                                  <% if parking.status == "Available" %>
                                                    <%= link_to "Make it unavailable", state_parking_path(parking.id), style:"    background: #ff6b6b; padding: 4px 16px; float: right; color: #fff; border-radius: 3px; border: none; font-size: 16px" %>
                                                  <% else  %>
                                                    <%= link_to "Make it available", state_parking_path(parking.id), style:"    background: #46cd38; padding: 4px 16px; float: right; color: #fff; border-radius: 3px; border: none; font-size: 16px" %>
                                                  <% end  %>
                                                <% end  %>
                                            <% else  %>
                                              <% if parking.status == "Available" %>
                                                    <%= link_to "Make it unavailable", state_parking_path(parking.id), style:"    background: #ff6b6b; padding: 4px 16px; float: right; color: #fff; border-radius: 3px; border: none; font-size: 16px" %>
                                              <% else  %>
                                                    <%= link_to "Make it available", state_parking_path(parking.id), style:"    background: #46cd38; padding: 4px 16px; float: right; color: #fff; border-radius: 3px; border: none; font-size: 16px" %>
                                              <% end  %>
                                            <% end  %>
                                    </div>
                                </div>
                            </div>
                            <hr>
                          <% end %>
                    </div>
                  <% end  %>




                </div>

                <div class="col-md-4 responsive-wrap">
                    <div class="follow" style="padding-bottom: 15px;">
                        <div class="follow-img">
                            <img src="/assets/follow-img.jpg" class="img-fluid" alt="#">
                            <h6><%= @profile.first_name %> <%= @profile.last_name %>, id #<%= @profile.id %></h6>
                            <span>Luxembourg</span>
                        </div>
                        <ul class="d-flex">
                              <li class=" flex-fill">
                                  <h6> <%= @my_bookings.count %> </h6>
                                  <span>bookings</span>
                              </li>
                          <% if @bookings.empty? == false %>
                              <li class=" flex-fill">
                                  <% last_booking =  @bookings.all.sort_by {|booking| booking.created_at}.last %>
                                  <h6><%= last_booking.created_at.strftime("%m/%d/%Y") %></h6>
                                  <span>last booking</span>
                              </li>
                          <% else  %>
                              <li class=" flex-fill">
                                  <h6> - </h6>
                                  <span>last booking</span>
                              </li>
                          <% end  %>
                        </ul>
                        <p><%= link_to 'EDIT MY PROFILE', edit_profile_path(@profile), class: 'btn btn-outline-danger btn-contact'%></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END BOOKING DETAILS -->




