


<h2>Past Bookings</h2>
<% @bookings = Booking.where(profile_id: @profile.id) %>
<% @bookings.each do |booking| %>
  <p>parking id:<%= booking.parking_id %></p>
  <p>date:<%= booking.created_at %></p>
  <% owner_id = Parking.where(id: booking.parking_id)[0].profile_id %>
  <p>owner id: <%= owner_id %></p>
<% end %>










    <!--============================= BOOKING DETAILS =============================-->
    <% @bookings = Booking.where(profile_id: @profile.id) %>
    <% @my_bookings = Booking.where(profile_id: @profile.id) %>
    <% if @my_bookings.last.created_at.strftime("%m/%d/%Y") == Time.now.strftime("%m/%d/%Y")  %>
    <% @current_booking = true  %>
    <% end  %>
    <section class="gray-dark booking-details_wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8 responsive-wrap">
                    <div class="booking-checkbox_wrap my-4">
                        <h4>Current Booking</h4>
                        <hr>
                        <% if @current_booking = true %>
                          <div class="customer-review_wrap">
                              <div class="customer-content-wrap" style="margin-left: 0px">
                                  <div class="customer-content">
                                      <div class="customer-review">
                                          <h5>Parking id: <%= @my_bookings.last.parking_id %></h5>
                                          <p style="margin-left: 0px">Booking date: <%= @my_bookings.last.created_at.strftime("%m/%d/%Y") %></p>
                                      </div>
                                      <div class="customer-rating">Next Booking</div>
                                  </div>
                              </div>
                          </div>
                        <% else  %>
                        <% end  %>
                        <hr>
                    </div>


                    <div class="booking-checkbox_wrap my-4">
                        <h4>Past Bookings</h4>
                        <hr>
                        <% @bookings.each do |booking| %>
                          <% if booking.created_at.strftime("%m/%d/%Y") != Time.now.strftime("%m/%d/%Y") %>
                                <div class="customer-review_wrap">
                                    <div class="customer-content-wrap" style="margin-left: 0px">
                                        <div class="customer-content">
                                            <div class="customer-review">
                                                <h5>Parking id: <%= booking.parking_id %></h5>
                                                <p style="margin-left: 0px">Booking date: <%= booking.created_at.strftime("%m/%d/%Y")  %></p>
                                                <p><% owner_id = Parking.where(id: booking.parking_id)[0].profile_id %></p>
                                                <p style="margin-left: 0px">Owner id: <%= owner_id %></p>
                                            </div>
                                            <div class="customer-rating customer-rating-red">Past Booking</div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                          <% end  %>
                        <% end %>
                    </div>

<% owner_id = @profile.id %>
<% @MyParkings = Parking.where(profile_id: owner_id) %>


                    <div class="booking-checkbox_wrap my-4">
                        <h4>My Parking</h4>
                        <hr>
                        <% if @MyParkings.empty? == false %>
                          <% @MyParkings.each do |parking| %>
                            <div class="customer-review_wrap">
                                <div class="customer-content-wrap" style="margin-left: 0px">
                                    <div class="customer-content">
                                            <div class="customer-review">
                                                <h5>Parking id: <%= parking.id %></h5>
                                                <p style="margin-left: 0px">parking status: <%= parking.status %></p>
                                            </div>
                                            <% if parking.status == "Available" %>
                                              <%= link_to "Make it unavailable", state_parking_path(parking.id), style:"float: right; font-size: 14px; color: #ff6b6b !important; border: none" %>
                                            <% else  %>
                                              <%= link_to "Make it available", state_parking_path(parking.id), style:"float: right; font-size: 14px; color: #73cf42 !important; border: none" %>





                                            <% end  %>
                                    </div>
                                </div>
                            </div>
                            <hr>
                          <% end %>
                        <% end  %>
                    </div>
                </div>

                <div class="col-md-4 responsive-wrap">
                    <div class="follow" style="padding-bottom: 15px;">
                        <div class="follow-img">
                            <img src="/assets/follow-img.jpg" class="img-fluid" alt="#">
                            <h6><%= @profile.first_name %> <%= @profile.last_name %>, id #<%= @profile.id %></h6>
                            <span>Luxembourg</span>
                        </div>
                        <ul class="d-flex">
                            <li class=" flex-fill">
                                <h6> <%= @my_bookings.count %> </h6>
                                <span>bookings</span>
                            </li>
                            <li class=" flex-fill">
                                <% last_booking =  @bookings.all.sort_by {|booking| booking.created_at}.last %>
                                <h6><%= last_booking.created_at.strftime("%m/%d/%Y") %></h6>
                                <span>last booking</span>
                            </li>
                        </ul>
                        <p><%= link_to 'EDIT MY PROFILE', edit_profile_path(@profile), class: 'btn btn-outline-danger btn-contact'%></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END BOOKING DETAILS -->




