    <!--============================= ADD LISTING =============================-->
    <section class="main-block">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="listing-wrap">

                            <!-- General Information -->
                            <div class="listing-title">
                                <h4>Welcome back !</h4>
                                <p>Please log in and book a parking lot in seconds ⏱️</p>
                            </div>

                        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <%= f.input :email, required: false, autofocus: true , class: "form-control add-listing_form", placeholder: "email@example.com" %>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <%= f.input :password, required: false , class: "form-control add-listing_form", placeholder: "🔑"%>

                                    </div>
                                </div>

                            </div>

                           <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-wrap btn-wrap2">
                                        <%= f.button :submit, "LOG IN", class: "btn btn-simple"%>
                                    </div>
                                </div>
                            </div>

                        <% end %>

   <%= render "devise/shared/links" %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END ADD LISTING -->


